// this is resource file
#include "OGL.h"

MYICON ICON VVA.ico
ID_BITMAP_BHAGATSING BITMAP BhagatSing.bmp
ID_BITMAP_RAJGURU BITMAP Rajguru.bmp
ID_BITMAP_SUKHDEV BITMAP Sukhdev.bmp
ID_BITMAP_INDIA BITMAP India.bmp
